<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.spring.mapper.UsersMapper">
  <select id="selectUsers"  resultType="Users">
  	 select * from Users where userName=#{userName} and passWord=#{passWord}
  </select>
  <insert id="insertUsers">
  	INSERT INTO Users(userName,password,nickName,createTime,headImg)
  	VALUES(#{userName},#{password},#{nickName},NOW(),#{headImg})
  </insert>
</mapper>